[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
pdfplumber = "*"
openpyxl = "*"
pandas = "*"
python-multipart = "*"
python-docx = "*"
pdf2docx = "*"
pillow = "*"
pypdf = "*"
rembg = {extras = ["cpu"], version = "*"}

[dev-packages]
pytest = "*"
reportlab = "*"
httpx = "*"

[requires]
python_version = "3.12"
